<footer class="footer">
  <small>
    <%= link_to(t("tutorial"), Settings.rails_tutorial) %> <%= (t"by") %>
    <%= link_to(t("author"), Settings.rails_michaelhartl) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_url %></li>
      <li><%= link_to t(".contact"), contact_url %></li>
      <li><a href="https://news.railstutorial.org/"><%= t(".news") %></a></li>
    </ul>
  </nav>
</footer>
