<header class="navbar navbar-fixed-top navbar-inverse">

<div class="container">
<%= link_to "sample app", "#", id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to t("header.home"), home_path %></li>
<li><%= link_to t("header.help"), help_path %></li>
<li><%= link_to t("header.contact"), contact_path %></li>
<li><%= link_to t("header.signup"), signup_path %></li>
<li><%= link_to "Eng", locale:"en" %></li>
<li><%= link_to "Vie", locale:"vi" %></li>
</ul>
</nav>
</div>
</header>
